pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
pip install openai==0.28
pip install backoff
pip install transformers bitsandbytes>=0.39.0 –q
pip install accelerate
pip install transformers
pip install sentencepiece
pip install tiktoken
pip install scikit-learn
pip install matplotlib
pip install plotly
pip install sentence-transformers
